.error button{
	background: #ff0000;
    color: white;
    padding: 4px 50px;
   
    margin: 10px 0;
} 

.info button{
	background: #5b9bd5;
	color: white;
	padding: 4px 50px;
	
	margin: 10px 0;
	margin-top:30px;
	margin-bottom:10px;
}
